footer>.up {
    color: white;
    padding: 25px 0;
    background-color: #0C2C5D;
}
footer>.down {
    color: white;
    padding: 25px 0;
    background-color: #0c2952;
}
footer>.down p{
    margin-bottom: 0;
    font-size: 1.3rem;
}

footer p {
    font-family: 'PT Sans Narrow', sans-serif;
    line-height: 1.2;
    font-size: 1.2rem;
}