article header{
	display: table;
	max-height: 800px;
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0,0.3);
	background-position: center center;
	background-size: cover;
	text-align: center;
	font-family: 'Open Sans'

	background-blend-mode: darken;
}
article header div{
	display: table-cell;
	color: white;
	vertical-align: middle;
}
article header h1{
	margin: 15px 0 20px 0;
}
.category{
	display: inline-block;
	padding: 7px 10px;
	color: white;
}
article .content{
	padding-top: 25px;
	padding-bottom: 25px;
}
article .content p{
	font-size: 16px;
	font-family: Merriweather;
	line-height: 1.5;
}
article .content h3{
	font-family: Merriweather;
	line-height: 1.5;
}
article .content .excerpt{
	font-weight: 700;
	font-style: italic;
	font-size: 20px;
	font-family: Merriweather;
	line-height: 1.5;
}
.ad{
	padding: 25px;
}
.share, .this-article-author{
	margin: 25px 0;
	padding: 25px;
	background-color: #eee;
}
.share .ssk-group{
	text-align: right;
}
.this-article-author .information{
	display: inline-block;
	padding-left: 15px;
}
.comments{
	margin: 25px 0;
}
.related-articles{
	margin: 0;
}
.related{
	display: inline-block;
	padding: 0;
	border-bottom: 1px #eee solid;
	background-color: white;
	color: #333;
	text-decoration: none;
}
hr{
	border-color: darkgray;
}
.related>.info i{
	margin: 0 5px;
}
.related{
	padding: 10px 0;
}
.related:hover h5{
	color: #333;
	text-decoration: underline;
}
.widget-title{
	margin: 0;
	padding: 10px;
	background-color: #175f94;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	color: white;
	text-transform: uppercase;
}
main>.container{
	margin-top: -50px;
	background-color: white;
}
@media(max-width: 767px){
	article header{
		display: table;
		width: 100%;
		height: 300px;
		background-color: rgba(0,0,0,0.3);
		background-position: center center;
		background-size: cover;
		text-align: center;

		background-blend-mode: darken;
	}
	article div{
		vertical-align: middle;
	}
	article h1{
		margin: 5px 0;
		font-size: 20px;
	}
	article datetime{
		margin: 5px 0 20px 0;
		font-size: 12px;
		display: block;
	}
	main>.container{
		margin-top: 0;
		background-color: white;
	}
	article .content{
		padding-top: 25px;
	}
	article .content p{
		font-size: 14px;
		font-family: Merriweather;
		line-height: 1.5;
	}
	article .content h3{
		font-size: 18px;
		font-family: Merriweather;
		line-height: 1.5;
	}
	article .content .excerpt{
		font-weight: 700;
		font-style: italic;
		font-size: 16px;
		font-family: Merriweather;
		line-height: 1.5;
	}
	.share, .this-article-author{
		padding: 15px 10px;
	}
	.this-article-author img{
		display: block;
		margin: 0 auto;
	}
	.this-article-author .information{
		text-align: center;
		display: block;
		padding: 0;
	}
	.share .ssk-group, .share h4{
		margin-top: 0;
		text-align: center;
	}
}
.materialize {
	border-radius: 2px;
	background: #fff;
	/*transition: all 0.3s cubic-bezier(.25,.8,.25,1);*/
}
.widget{
	display: inline-block;
	margin-top: 25px;
}
.card {
	border-radius: 0px;
	background: #fff;
}

.card-1 {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-2 {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
