{% extends 'index.html' %}
{% load staticfiles %}
{% block title %}{{ article.title }} - Саресеп{% endblock %}
{% block description %}{{ article.body|striptags|slice:":160" }}{% endblock %}
{% block keywords %}{{ article.keys }}{% endblock %}
{% block author %}{{ article.author.family.get_full_name }}{% endblock %}
{% block title_og %}{{ article.title }}{% endblock %}
{% block description_og %}{{ article.body|striptags|slice:":160" }}{% endblock %}
{% block image_og %}{{ article.image.url }}{% endblock %}
{% block url_og %}/article/{{ article.id }}{% endblock %}
{% block title_twitter %}{{ article.title }}{% endblock %}
{% block description_twitter %}{{ article.body|striptags|slice:":160" }}{% endblock %}
{% block image_twitter %}{{ article.image.url }}{% endblock %}
{% block author_twitter %}{{ article.author.family.get_full_name }}{% endblock %}
{% block static %}
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,400i,700i|PT+Sans:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/social-share-kit.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/article.css' %}">
{% endblock %}
{% block content %}
    <div class="row">
        <div class="article-cover" style="background-image: url('{{ article.image.url }}')">
            <div class="article-cover__overlay">
                <div class="article-cover__info">
                    <span class="article-cover__category">{{ article.category.name }}</span>
                    <h1>{{ article.title }}</h1>
                    <div class="article-cover__meta">
                        <span class="article-cover__date">{{ article.date }}</span>
                        <span class="article-cover__views"><span class="icon-eye"></span> {{ article.rating }}</span>
                    </div>
                </div>
            </div>
        </div>
        <article class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
            {{ article.body|safe }}
            <div class="ssk-sticky ssk-left ssk-center ssk-lg" data-url="http://saresep.kg/article/{{ article.id }}/">
                <a href="" class="ssk ssk-facebook"></a>
                <a href="" class="ssk ssk-twitter"></a>
                <a href="" class="ssk ssk-google-plus"></a>
                <a href="" class="ssk ssk-vk"></a>
            </div>
            <div class="this-article-author">
                <div class="row">
                    <div class="col-xs-12">
                        <img src="{{ article.author.avatar.url }}" height="75" class="img-circle">
                        <div class="information" style="">
                            <h4 class="name"><b>{{ article.author.family.get_full_name }}</b></h4>
                            <p class="description">
                                {{ article.author.description }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ssk-sticky ssk-left ssk-center ssk-lg" data-url="http://saresep.kg/article/{{ article.id }}/">
                <a href="" class="ssk ssk-facebook"></a>
                <a href="" class="ssk ssk-twitter"></a>
                <a href="" class="ssk ssk-google-plus"></a>
                <a href="" class="ssk ssk-vk"></a>
            </div>
            <div class="comments">
                <div id="disqus_thread"></div>
                <script>
                    var disqus_config = function () {
                        this.page.url = 'http://saresep.kg/article/{{ article.id }}/';
                        this.page.identifier = {{ article.id }};
                    };
                    (function () {
                        var d = document, s = d.createElement('script');

                        s.src = 'https://saresep.disqus.com/embed.js';

                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                </script>
            </div>
        </article>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="content">
                <div class="category">
                    <h4 class="category_title">БАШКА МАКАЛДАР</h4>
                    <ul class="articles">
                        {% for i in articles %}
                            <li class="articles__article">
                                <a href="/article/{{ i.id }}" class="articles__article__link">
                                    {% if i.image %}
                                        <div class="article__article__image"
                                             style="background-image: url('{{ i.image.url }}')"></div>
                                    {% endif %}
                                    <div class="article__article__info">
                                        <div class="article__article__heading">​{{ i.title }}</div>
                                        <span class="article__article__views"><span
                                                class="icon-eye"></span> {{ i.rating }}</span>
                                    </div>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}