{% extends 'index.html' %}
{% load staticfiles %}
{% block title %}Саресеп - маалымат порталы{% endblock %}
{% block description %}Информационное агентство. Оперативные новости Кыргызстана, статьи, аналитические
    материалы.{% endblock %}
{% block keywords %}Новости Кыргызстана{% endblock %}
{% block title_og %}Саресеп - маалымат порталы{% endblock %}
{% block description_og %}Информационное агентство. Оперативные новости Кыргызстана, статьи, аналитические
    материалы.{% endblock %}
{% block image_og %}{% static 'css/sample.png' %}{% endblock %}
{% block url_og %}{% endblock %}
{% block title_twitter %}Саресеп - маалымат порталы{% endblock %}
{% block description_twitter %}Информационное агентство. Оперативные новости Кыргызстана, статьи, аналитические
    материалы.{% endblock %}
{% block image_twitter %}{% static 'css/sample.png' %}{% endblock %}
{% block category_string %} &mdash; {{ category_name }}{% endblock %}
{% block category_string2 %} &mdash; {{ category_name }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12">
            <div class="content">
                <div class="category">
                    <h4 class="category_title">{{ category_name }}</h4>
                    <ul class="articles row">
                        {% for l in current %}
                            <li class="articles__article col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <a href="/article/{{ l.id }}" class="articles__article__link first">
                                    {% if l.image.url != None %}
                                <div class="article__article__image"
                                     style="background-image: url('{{ l.image.url }}')"></div>
				{% else %}
				<div class="article__article__image"
        				style="background-image: url('{% static 'assets/img/archive.jpg' %}')"></div>
				{% endif %}
                                    <div class="article__article__info">
                                        <div class="article__article__heading">{{ l.title }}</div>
                                        <span class="article__article__views"><span
                                                class="icon-eye"></span> {{ l.rating }}</span>
                                    </div>
                                </a>
                            </li>
                        {% endfor %}
                        {% for l in all %}
                            <li class="articles__article col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <a href="/article/{{ l.id }}" class="articles__article__link">
                                    {% if l.image.url != None %}
                                <div class="article__article__image"
                                     style="background-image: url('{{ l.image.url }}')"></div>
				{% else %}
				<div class="article__article__image"
        				style="background-image: url('{% static 'assets/img/archive.jpg' %}')"></div>
				{% endif %}
                                    <div class="article__article__info">
                                        <div class="article__article__heading">{{ l.title }}</div>
                                        <span class="article__article__views"><span
                                                class="icon-eye"></span> {{ l.rating }}</span>
                                    </div>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="content">               
                        <div class="category">
			<h4 class="category_title">ПОПУЛЯРДУУ</h4>
                            <ul class="articles">
                                {% for l in popular %}
                            <li class="articles__article">
                                {% if forloop.first %}
                                    <a href="/article/{{ l.id }}" class="articles__article__link first">
                                {% else %}
                                    <a href="/article/{{ l.id }}" class="articles__article__link">
                                {% endif %}
				{% if l.image.url != None %}
                                <div class="article__article__image"
                                     style="background-image: url('{{ l.image.url }}')"></div>
				{% else %}
				<div class="article__article__image"
        				style="background-image: url('{% static 'assets/img/archive.jpg' %}')"></div>
				{% endif %}
                                <div class="article__article__info">
                                    <div class="article__article__heading">{{ l.title }}</div>
                                    <span class="article__article__views"><span
                                            class="icon-eye"></span> {{ l.rating }}</span>
                                </div>
                                </a>
                            </li>
                        {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center col-md-12">
        {% if previous == 0 %}
            <a class="hidden" href="/category/{{ category_name.id }}/{{ previous }}/">Чейинки</a>
        {% else %}
            <a href="/category/{{ category_name.id }}/{{ previous }}/">Чейинки</a>
        {% endif %}
        {% if a == next %}
            <a class="hidden" href="/category/{{ category_name.id }}/{{ next }}/">Кийинки</a>
        {% else %}
            <a href="/category/{{ category_name.id }}/{{ next }}/">Кийинки</a>
        {% endif %}
    </div>
{% endblock %}