<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="department" content="legal"/>
    <meta name="audience" content="all"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="author" content="{% block author %}{% endblock %}">
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
    <meta property="og:title" content="{% block title_og %}{% endblock %}"/>
    <meta property="og:description" content="{% block description_og %}{% endblock %}"/>
    <meta property="og:image" content="http://{{ request.get_host }}{% block image_og %}{% endblock %}"/>
    <meta property="og:url" content="http://{{ request.get_host }}{% block url_og %}{% endblock %}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:site_name" content="???????"/>
    <meta property="fb:app_id" content="231507357184200"/>
    <meta name="twitter:title" content="{% block title_twitter %}{% endblock %}">
    <meta name="twitter:description" content="{% block description_twitter %}{% endblock %}">
    <meta name="twitter:image" content="http://{{ request.get_host }}{% block image_twitter %}{% endblock %}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@saresep">
    <meta name="twitter:creator" content="{% block author_twitter %}{% endblock %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    {% load staticfiles %}
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|Merriweather:400,400i,700,700i&amp;subset=cyrillic-ext"
          rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'assets/css/vendor/flickity.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/vendor/modal-video.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/typography.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/carousel.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/article.css' %}">    
</head>
<body>

<header class="container sticky-top navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">
        <img src="{% static 'assets/img/logo.svg' %}" height="30" alt="">
    </a>
    <button class="hamburger hamburger--slider zema-nav-trigger" onclick="zemanav()"
            tabindex="0" aria-label="Menu" role="button" aria-controls="navigation">
        <div class="hamburger-box">
            <div class="hamburger-inner"></div>
        </div>
    </button>
    <nav class="zema-nav">
        <div class="zema-nav-content">
            <ul>
                {% for i in categories_nav %}
                    {% if i.name == active %}
                        <li class="active"><a href="/category/{{ i.id }}/1/">{{ i.name }}</a></li>
                    {% else %}
                        <li><a href="/category/{{ i.id }}/1/">{{ i.name }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </nav>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% for i in categories_nav %}
                {% if i.name == active %}
                    <li class="active nav-item"><a class="nav-link" href="/category/{{ i.id }}/1/">{{ i.name }}</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="/category/{{ i.id }}/1/">{{ i.name }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</header>
<main class="container">
    {% block content %}{% endblock %}
</main>

<footer class="container">
    <div class="row up">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 text-center text-md-left">
<p><a href="https://www.patreon.com/saresep"><img src="{% static 'assets/img/become_a_patron_button.png' %}"></a></p>
            <p>
                info@saresep.kg
            </p>
            <p>
                www.saresep.kg
            </p>
            <p>
                +996 555 204 571
            </p>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 text-center text-md-right">
        </div>
    </div>
    <div class="row down">
        <div class="col-12">
            <p class="text-center">Саресеп &copy; 2017 &mdash;  Pixel Kalpak</p>
        </div>
    </div>
</footer>
<!-- WWW.NET.KG , code for http://saresep.kg -->
<script language="javascript" type="text/javascript">
 java="1.0";
 java1=""+"refer="+escape(document.referrer)+"&amp;page="+escape(window.location.href);
 document.cookie="astratop=1; path=/";
 java1+="&amp;c="+(document.cookie?"yes":"now");
</script>
<script language="javascript1.1" type="text/javascript">
 java="1.1";
 java1+="&amp;java="+(navigator.javaEnabled()?"yes":"now");
</script>
<script language="javascript1.2" type="text/javascript">
 java="1.2";
 java1+="&amp;razresh="+screen.width+'x'+screen.height+"&amp;cvet="+
 (((navigator.appName.substring(0,3)=="Mic"))?
 screen.colorDepth:screen.pixelDepth);
</script>
<script language="javascript1.3" type="text/javascript">java="1.3"</script>
<script language="javascript" type="text/javascript">
 java1+="&amp;jscript="+java+"&amp;rand="+Math.random();
 document.write("<a href='http://www.net.kg/stat.php?id=5942&amp;fromsite=5942' target='_blank'>"+
 "<img src='http://www.net.kg/img.php?id=5942&amp;"+java1+
 "' border='0' alt='WWW.NET.KG' width='88' height='31' /></a>");
</script>
<noscript>
 <a href='http://www.net.kg/stat.php?id=5942&amp;fromsite=5942' target='_blank'><img
  src="http://www.net.kg/img.php?id=5942" border='0' alt='WWW.NET.KG' width='88'
  height='31' /></a>
</noscript>
<!-- /WWW.NET.KG -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
<script src="{% static 'assets/js/vendor/flickity.js' %}"></script>
<script src="{% static 'assets/js/vendor/jquery-modal-video.js' %}"></script>
<script src="{% static 'assets/js/vendor/social-share-kit.min.js' %}"></script>
<script>
    SocialShareKit.init({forceInit: true});

    function zemanav() {
        if (!$('.zema-nav').hasClass('active')) {
            $('.zema-nav').addClass('active');
            $('.zema-nav-trigger').addClass('is-active');
        }
        else {
            $('.zema-nav').removeClass('active');
            $('.zema-nav-trigger').removeClass('is-active')
        }
    }

    $('.ads-carousel').flickity({
        // options
        lazyLoad: 2,
        initialIndex: 2,
        autoPlay: true,
        infiniteScroll: true,
        wrapAround: true,
        pageDots: false

    });

    var $carousel = $('.carousel').flickity({
        // options
        autoPlay: true,
        cellAlign: 'left',
        contain: true,
        setGallerySize: false,
        pageDots: false,
        prevNextButtons: false,
        wrapAround: true
    });

    var flkty = $carousel.data('flickity');
    var $cellButtonGroup = $('.button-group--cells');
    var $cellButtons = $cellButtonGroup.find('.button');
    $carousel.on('select.flickity', function () {
        $cellButtons.filter('.active')
            .removeClass('active');
        $cellButtons.eq(flkty.selectedIndex)
            .addClass('active');
    });
    $cellButtonGroup.on('click', '.button', function () {
        var index = $(this).index();
        $carousel.flickity('select', index);
    });


     var Youtube = (function () {
        'use strict';

        var video, results;

        var getThumb = function (url, size) {
            if (url === null) {
                return '';
            }
            size    = (size === null) ? 'big' : size;
            results = url.match('[\\?&]v=([^&#]*)');
            video   = (results === null) ? url : results[1];

            if (size === 'small') {
                return 'http://img.youtube.com/vi/' + video + '/2.jpg';
            }
            return 'http://img.youtube.com/vi/' + video + '/0.jpg';
        };

        return {
            thumb: getThumb
        };
    }());
    var videoModal = $(".video-modal");

    for(var i = 0; i<videoModal.length; i++){
        $(".video-modal .article__article__image:eq(" + i + ")").css("background-image", "url(" + Youtube.thumb('http://www.youtube.com/watch?v='+ videoModal[i].getAttribute('data-video-id') +'', 'big') + ")")
    }

    videoModal.modalVideo({
        autoplay: 1,
        modestbranding: 1
    });

</script>
</body>
</html>
