{% extends 'index.html' %}
{% load staticfiles %}
{% block title %}{{ novost.title }} - Саресеп{% endblock %}
{% block description %}{{ novost.body|striptags|slice:":160" }}{% endblock %}
{% block keywords %}{{ novost.keys }}{% endblock %}
{% block author %}Саресеп{% endblock %}
{% block title_og %}{{ novost.title }}{% endblock %}
{% block description_og %}{{ novost.body|striptags|slice:":160" }}{% endblock %}
{% block image_og %}{% static 'css/sample.png' %}{% endblock %}
{% block url_og %}/news/{{ novost.id }}{% endblock %}
{% block title_twitter %}{{ novost.title }}{% endblock %}
{% block description_twitter %}{{ novost.body|striptags|slice:":160" }}{% endblock %}
{% block image_twitter %}{% endblock %}
{% block author_twitter %}Саресеп{% endblock %}
{% block content %}
    <div class="main container " style="padding: 0;">
        <div class="col-md-12">
            <div class="newsHeader">
                <h5>{{ novost.get_date }}
                    <a href="/#{{ novost.category.name }}"
                       style="color: {{ novost.category.colour }}">{{ novost.category }}</a></h5>

                <h1>{{ novost.title }}</h1>
                <h5>
                    Поделиться: {% with "twitter" as service %}
                        <a href="http://twitter.com/share?url={{ host }}{{ page_url }}&amp;text={{ novost.title }}"
                           target="_blank"
                           title="{{ share_txt }} {{ service }}">
                            <i class="fa fa-twitter-square fa-lg"></i>
                        </a>
                    {% endwith %}
                    {% with "facebook" as service %}
                        <a href="http://www.facebook.com/share.php?u={{ page_url }}&amp;t={{ title }}"
                           target="_blank"
                           rel="{% static 1437670594_07_675.jpg %}"
                           title="{{ share_txt }} {{ service }}">
                            <i class="fa fa-facebook-official fa-lg"></i>
                        </a>
                    {% endwith %}

                </h5>
            </div>
            <div class="col-md-8" style="border-top: 1px #e3e3e3 solid">
                <div class="newsText">
                    {{ novost.body|safe }}
                </div>
                <div>
                    <audio controls>
                        <source src="{{ article.audio.url }}" type="audio/ogg">
                        <source src="{{ article.audio.url }}" type="audio/mp3">
                    </audio>
                </div>
                <div class="">
                    <div style="border-bottom: 1px black solid; margin-bottom: 15px;;"><h3>Комментарийлер</h3></div>
                    {% if comments != null %}
                        {% for i in comments %}
                            <ul class="commentsList">
                                <li>
                                    <h5 style="display: inline"><b>
                                        <i class="fa fa-user"></i>
                                        <span class="authorac">{{ i.author }}</span>
                                    </b>
                                    </h5>
                                    <h6 style="display: inline; margin-left: 15px">
                                        <i style="color: rgba(0, 0, 0, 0.6);" class="fa fa-calendar-o"></i>
                                        <span style="color: rgba(0, 0, 0, 0.6);">{{ i.get_date }}</span>
                                    </h6>

                                    <div class="commenttext">{{ i.text }}</div>

                                </li>
                            </ul>
                        {% endfor %}
                    {% endif %}
                    {% if comments == null %}
                        <ul class="commentsList">
                            <li>No comments</li>
                        </ul>
                    {% endif %}

                    <form action="/addcomment/{{ novost.id }}/" method="post">
                        <div class="the_form">
                            <p>
                                {% csrf_token %}
                                {{ form.label }}
                                {{ form }}
                            </p>
                        </div>
                        <input type="submit" class="btn btn-primary btn-material" value="Добавить комментарий">
                    </form>
                </div>
            </div>
            <div class="col-md-4" style="border-top: 1px #e3e3e3 solid">
                <div class="popular row">
                    <div>
                        Популярное за сутки
                    </div>
                    <ul>
                        {% for t in popular %}
                            <li>
                                <h5 style="margin: 5px 0; color: #175f94;">{{ t.get_date }}</h5>

                                <h5 class="data">
                                    <a href="/news/{{ t.id }}/">{{ t.title }}</a>
                                </h5>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>


    </div>


{% endblock %}
{% block script %}
    <script>
        $(document).ready(function () {
            // Target your .container, .wrapper, .post, etc.
            $(".newsText").fitVids();
        });
    </script>
{% endblock %}