{% extends 'index.html' %}
{% load staticfiles %}
{% block title %}Саресеп - маалымат порталы{% endblock %}
{% block description %}Информационное агентство. Оперативные новости Кыргызстана, статьи, аналитические
    материалы.{% endblock %}
{% block keywords %}Новости Кыргызстана{% endblock %}
{% block title_og %}Саресеп - маалымат порталы{% endblock %}
{% block description_og %}Информационное агентство. Оперативные новости Кыргызстана, статьи, аналитические
    материалы.{% endblock %}
{% block image_og %}{% static 'css/sample.png' %}{% endblock %}
{% block url_og %}{% endblock %}
{% block title_twitter %}Саресеп - маалымат порталы{% endblock %}
{% block description_twitter %}Информационное агентство. Оперативные новости Кыргызстана, статьи, аналитические
    материалы.{% endblock %}
{% block image_twitter %}{% static 'css/sample.png' %}{% endblock %}
{% block category_string %} &mdash; {{ category_name }}{% endblock %}
{% block category_string2 %} &mdash; {{ category_name }}{% endblock %}
{% block content %}
    <div class="row random">
        <div class="col-12">
            <div class="content">
                <div class="ads-carousel">
                    <div class="carousel-cell">
                        <p>Жарнама</p>
                    </div>
                    <div class="carousel-cell">
                        <p>Жарнама</p>
                    </div>
                    <div class="carousel-cell">
                        <p>Жарнама</p>
                    </div>
                    <div class="carousel-cell">
                        <p>Жарнама</p>
                    </div>
                    <div class="carousel-cell">
                        <p>Жарнама</p>
                    </div>
                    <div class="carousel-cell">
                        <p>Жарнама</p>
                    </div>
                    <div class="carousel-cell">
                        <p>Жарнама</p>
                    </div>
                    <div class="carousel-cell">
                        <p>Жарнама</p>
                    </div>
                    <div class="carousel-cell">
                        <p>Жарнама</p>
                    </div>
                    <div class="carousel-cell">
                        <p>Жарнама</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row recent">
        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
            <div class="content">
                <div class="carousel" data-flickity>
                    {% for l in latest %}
                        <div class="carousel-cell"
                             style="background-image: url('{{ l.image.url }}')">
                            <a href="article/{{ l.id }}">
                                <div class="carousel-cell__overlay">
                                    <div class="carousel-cell__heading">
                                        {{ l.title }}
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <div class="d-sm-none d-none d-md-block button-row">
                    <div class="button-group button-group--cells btn-group">
                        <button class="button active btn btn-secondary active">1</button>
                        <button class="button btn btn-secondary">2</button>
                        <button class="button btn btn-secondary">3</button>
                        <button class="button btn btn-secondary">4</button>
                        <button class="button btn btn-secondary">5</button>
                        <button class="button btn btn-secondary">6</button>
                        <button class="button btn btn-secondary">7</button>
                        <button class="button btn btn-secondary">8</button>
                        <button class="button btn btn-secondary">9</button>
                        <button class="button btn btn-secondary">10</button>
                        <button class="button btn btn-secondary">11</button>
                        <button class="button btn btn-secondary">12</button>
                        <button class="button btn btn-secondary">13</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
            <div class="content">
                <div class="category">
                    <h4 class="category_title">МАТЕРИАЛЫ НА РУССКОМ</h4>
                    <ul class="articles">
                        {% for l in russian %}
                            <li class="articles__article">
                                <a href="article/{{ l.id }}" class="articles__article__link">
                                    <div class="article__article__image"
                                         style="background-image: url('{{ l.image.url }}')"></div>
                                    <div class="article__article__info">
                                        <div class="article__article__heading">{{ l.title }}</div>
                                        <span class="article__article__views"><span
                                                class="icon-eye"></span> {{ l.rating }}</span>
                                    </div>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row other">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
            <div class="content">
                <div class="category">
                    <h4 class="category_title">ПОПУЛЯРДУУ</h4>
                    <ul class="articles">
                        {% for l in popular %}
                            <li class="articles__article">
                                {% if forloop.first %}
                                    <a href="article/{{ l.id }}" class="articles__article__link first">
                                {% else %}
                                    <a href="article/{{ l.id }}" class="articles__article__link">
                                {% endif %}
                                <div class="article__article__image"
                                     style="background-image: url('{{ l.image.url }}')"></div>
                                <div class="article__article__info">
                                    <div class="article__article__heading">{{ l.title }}</div>
                                    <span class="article__article__views"><span
                                            class="icon-eye"></span> {{ l.rating }}</span>
                                </div>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
            <div class="content">
                <div class="category">
                    <h4 class="category_title">ЖОРУМ</h4>
                    <ul class="articles">
                        {% for l in opinions %}
                            <li class="articles__article opinion">
                                <a href="article/{{ l.id }}" class="articles__article__link">
                                    <div class="article__article__image"
                                         style="background-image: url('{{ l.author.avatar.url }}')"></div>
                                    <div class="article__article__info">
                                        <div class="opinion__author">{{ l.author.family.get_full_name }}
                                        </div>
                                        <div class="article__article__heading">{{ l.title }}</div>
                                        <span class="article__article__views"><span
                                                class="icon-eye"></span> {{ l.rating }}</span>
                                    </div>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 videos">
            <div class="content">
                <div class="category">
                    <h4 class="category_title">Видео</h4>
                    <ul class="articles">
                        {% for l in videos %}
                            <li class="articles__article">
                                {% if forloop.first %}
                                    <a href="#" class="articles__article__link first video-modal"
                                       data-video-id="{{ l.url }}">
                                {% else %}
                                    <a href="#" class="articles__article__link video-modal"
                                       data-video-id="{{ l.url }}">
                                {% endif %}
                                <div class="article__article__image"></div>
                                <div class="article__article__info">
                                    <div class="article__article__heading">{{ l.title }}</div>
                                </div>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% for category in categories %}
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                <div class="content">
                    <div class="category">
                        <h4 class="category_title">{{ category.name }}</h4>
                        <ul class="articles">
                            {% for l in category.get_articles %}
                                <li class="articles__article">
                                    {% if forloop.first %}
                                        <a href="article/{{ l.id }}" class="articles__article__link first">
                                    {% else %}
                                        <a href="article/{{ l.id }}" class="articles__article__link">
                                    {% endif %}
                                    <div class="article__article__image"
                                         style="background-image: url('{{ l.image.url }}')"></div>
                                    <div class="article__article__info">
                                        <div class="article__article__heading">{{ l.title }}</div>
                                        <span class="article__article__views"><span
                                                class="icon-eye"></span> {{ l.rating }}</span>
                                    </div>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}