{% extends 'index.html' %}
{% load staticfiles %}
{% block title %}Саресеп - Сайт в ремонте{% endblock %}
{% block image_twitter %}{% static 'css/sample.png' %}{% endblock %}
{% block category_string %} &mdash; {{ category_name }}{% endblock %}
{% block category_string2 %} &mdash; {{ category_name }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12">
                <img src="{% static 'assets/img/logo.svg' %}" height="200" alt="">
                <h1><a href="http://saresep.kg/demo">Demo Saresep</a></h1>
        </div>
    </div>
{% endblock %}
